.homepage {
  text-align: center;
}
form {
  padding: 30px 0;
}
input {
  width: 50vw;
  font-size: 1.5rem;
  padding: 1.5rem;
  border: 2px solid #090c1d;
  border-radius: 10px;
}
button {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: rgb(19, 16, 16);
  background-color: #7cf596;
  border-radius: 30px;
  cursor: pointer;
}
.headline {
  padding: 30px;
  font-size: 40px;
  font-weight: 700;
}
.subline {
  font-size: 1.3rem;
  margin-top: 30px;
}
